.xLeft, .xRight, .bottom_xAxis {
	fill: none;
  	stroke: black;
  	/*stroke: black;*/
  	shape-rendering: crispEdges;
  	font-family: sans-serif;
}

.line_scale {
	stroke-dasharray: 15, 5;
	stroke: green;
}

.year_scale {
	fill-opacity:0;
	stroke: green;
}

.scale_number {
	font-size: 20px;
	fill: black;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
body{
	background-color: white;
}

text.child {
  font-size: 11px;
  pointer-events: none;
}

circle {
  pointer-events: all;
}

circle.parent:hover {
  stroke: black;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}

div {
	position: absolute;
	top: 0px;
}

#bubDiv {
	left: 0px;
	height: 640px;
	width: 1024px;
}

#infoDiv {
	left: 1024px;
	height: 640px;
	width: 200px;
	overflow: scroll;
}